<li class="card reminder searchable">
    <a href='{{url}}' class='clickable-wrap flex'>
        <div class="maininfo">
            <h3 id="title">{{title}}</h3>
        </div>
        <div class="metainfo">
            <div class="avatar">
                <img src="{{avatar}}" class="avatar"/>
            </div>
            <div class ="metatext">
                <span class="name" id="name">{{postedBy}}</span>
                <span class="date"><b>posted on:</b> <span id="date">{{formatDate postedOn}}</span></span>
                {{#if due}}
                <span class="date"><b>due date:</b> <span id="date">{{formatDate due}}</span></span>
                {{else}}
                <span class="date"><b>due date:</b> <span id="date">none</span></span>
                {{/if}}
            </div>
        </div>
    </a>
</li>