<li class="card reminder searchable" tabIndex="-1" data-key="{{_key}}">
    <a href='#' class='clickable-wrap flex' id="cardUrl">
        <div class="maininfo">
            <h3 id="title">{{title}}</h3>
        </div>
        <div class="metainfo">
            <div class="avatar">
                <img id="avatar" src="https://cdn.discordapp.com/avatars/{{authorId}}/{{avatar}}.png?size=256" class="avatar"/>
            </div>
            <div class ="metatext">
                <span class="name" id="name">{{authorName}}</span>
                <span class="date"><b>posted on:</b> <span id="datePosted">{{formatDate postedOn}}</span></span>
                {{#if due}}
                <span class="date"><b>due date:</b> <span id="dateDue">{{formatDate due}}</span></span>
                {{else}}
                <span class="date"><b>due date:</b> <span id="dateDue">none</span></span>
                {{/if}}
            </div>
        </div>
        <a class="overlay"><span id="overlayText">click to finish</span></a>
    </a>
</li>