<li class="card reminder searchable">
    <a href='{{url}}' class='clickable-wrap flex'>
        <div class="maininfo">
            <h3 id="title">{{title}}</h3>
        </div>
        <div class="metainfo">
            <div class="avatar">
                <img src="{{avatar}}" class="avatar"/>
            </div>
            <div class ="metatext">
                <span class="name" id="name">{{postedBy}}</span>
                <span class="date">posted on <span id="date">{{formatDate postedOn}}</span></span>
            </div>
        </div>
    </a>
</li>